@import url('https://fonts.googleapis.com/css2?family=Murecho');
@import url('https://fonts.googleapis.com/css2?family=Gabarito');

body {
    font-family: "Murecho", sans-serif;
    background-color: var(--color-black);
    color: var(--color-black);
    padding: 20px;
}

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
}

#tsparticles {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: -1;
}

@keyframes waveAnimation {
    0% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(-10px);
    }
    100% {
        transform: translateY(0px);
    }
}

.wave-letter {
    display: inline-block;
    animation: waveAnimation 2.5s ease-in-out infinite;
}

.title {
    margin-bottom: 30px;;
}

.main-flex {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
    border-radius: 15px;
    color: var(--color-primary);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    max-width: 800px;
    width: 100%;
    text-align: center;
}

.prompt {
    font-family: "Murecho", sans-serif;
    font-size: 16px;
    margin-top: 16px;
    width: 100%;
    min-height: 150px;
    padding: 15px;
    border: 2px solid var(--color-secondary);
    border-radius: 10px;
    background-color: var(--color-black-05);
    color: var(--color-black);
    transition: 0.3s;
    resize: none
}

.prompt::placeholder {
    color: var(--color-black-25);
}

.prompt:focus {
    font-family: "Murecho", sans-serif;
    font-size: 16px;
    margin-top: 16px;
    width: 100%;
    min-height: 175px;
    padding: 15px;
    border: 2px solid var(--color-secondary);
    border-radius: 20px;
    background-color: var(--color-white);    
    color: var(--color-black);
    transition: 0.3s;
    resize: none

}

.search-button {
    font-family: "Gabarito", sans-serif;
    font-size: 20px;
    font-weight: bold;
    background-color: var(--color-secondary);
    color: var(--color-white);
    border: none;
    padding: 15px 30px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s;
    margin-top: 20px;
}

.search-button:hover {
    background-color: var(--color-primary);
    color: var(--color-black);
    transform: scale(1.05);
}

.search-button:active {
    transform: scale(0.95);
}

@media (max-width: 768px) {
    .main {
        padding: 20px;
    }

    .prompt {
        min-height: 120px;
    }
}