@import url('https://fonts.googleapis.com/css2?family=Murecho');
@import url('https://fonts.googleapis.com/css2?family=Gabarito');

body {
    font-family: "Murecho", sans-serif;
    background-color: var(--color-black);
    color: var(--color-black);
    padding: 20px;
}

h3{
    color: var(--color-primary);
}

.result-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 50px;
}

.result-box {
    width: 90%; 
    max-width: 900px;
    background-color: var(--color-white);
    padding: 20px; 
    border-radius: 16px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
    display: flex;
    flex-direction: row;
    gap: 30px; 
    border-left: 20px solid var(--color-primary);
    margin-bottom: 10px;
    transition: 0.3s;
}

.result-box:hover {
    width: 90%; 
    max-width: 900px;
    background-color: var(--color-black-05);
    padding: 40px; 
    border-radius: 16px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
    display: flex;
    flex-direction: row;
    gap: 30px; 
    border-left: 20px solid var(--color-primary);
    margin-bottom: 10px;
    transition: 0.3s;
}


.result-left {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.result-right {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.result-box h3 {
    font-family: "Gabarito", sans-serif;
    font-size: 50px;
    font-weight: 600;
    color: var(--color-black);
}

.result-box h4 {
    font-family: "Gabarito", sans-serif;
    font-size: 25px;
    font-weight: 600;
    color: var(--color-black);
}

.result-box h5 {
    font-size: 22px;
    font-weight: 400;
    color: var(--color-black-50);
}

.match-score {
    font-size: 30px;
    font-weight: bold;
    color: var(--color-primary);
    background-color: var(--color-secondary);
    padding: 10px 15px;
    border-radius: 100px;
    width: fit-content;
}

.description-list {
    list-style-type: none;
    padding: 0;
}

.description-list li {
    font-size: 20px;
    color: var(--color-black-75);
    padding-left: 5px;
    padding-bottom: 5px;
    position: relative;
}

@media (max-width: 800px) {
    .result-box {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        gap: 20px;
    }

    .result-left, .result-right {
        width: 100%;
        padding: 10px;
    }

    .result-box h3 {
        font-size: 35px;
    }

    .result-box h5 {
        font-size: 18px;
    }

    .result-box h4 {
        font-size: 22px;
    }

    .match-score {
        margin: 0 auto;
        display: block;
        font-size: 20px;
    }

    .description-list li {
        font-size: 16px;
    }
}


