@import url('https://fonts.googleapis.com/css2?family=Murecho');
@import url('https://fonts.googleapis.com/css2?family=Gabarito');


.result-box {
    margin-bottom: 100px;
    display: flex;
    flex-direction: column;
}